
@model GreenHouse_Management.Models.Product

<p><b>Product name: </b>@Model.Name</p>
<p><b>Product status: </b>@Model.Status</p>
<p><b>Product key: </b>@Model.ProductKey</p>
<p><b>Customer id: </b>@Model.CustomerId</p>

<a href="/products" class="btn btn-warning inline_button" type="submit">Back</a>