@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>Greenhose Management App</h3>

<address>
    Greenhouse Shop<br />
    London, UK<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>
