@{
    ViewBag.Title = "Home Page";
}
<link rel="stylesheet" href="~/Content/Style/Profile.css?id=22" />

<body>
    <br /><br />

    <div class="panel panel-default inline_button cardSize">
        <div class="panel-heading imagineClassGreenhouse">
        </div>
        <div class="panel-body panelCard">
            <h3>Automated Greenhouse</h3>
        </div>
    </div>

    <div class="panel panel-default inline_button cardSize">
        <div class="panel-heading imagineClassPanel2">
        </div>
        <div class="panel-body panelCard">
           <h3>Greenhouse shop</h3>
        </div>
    </div>

</body>
