@model GreenHouse_Management.Models.Employee

<h4>Employee details:</h4>
<hr />

<p><b>Name: </b>@Model.Name</p>
<p><b>Address: </b>@Model.Address</p>

<a href="/employees" class="btn btn-warning inline_button" type="submit">Back</a>