<form method="post" action="/Sensors/Create">
    <label>Name</label>
    <br />
    <input type="text" name="Name" />
    <br />
    <label>Model</label>
    <br />
    <input type="text" name="Model" />
    <br />
    <label>OperatingState</label>
    <br />
    <input type="text" name="OperatingState" />
    <br /><br />
    <button type="submit">Add</button>
</form>