@model List<GreenHouse_Management.Models.SensorUsage>

<h4>Remove usages:</h4>
<hr />

<div class="table-responsive">
    <table class="table table-bordered table-condensed table-striped table-hover sortable">
        @if (Model.Count() == 0)
        {
            <tr>
                <td colspan="10">No usages found.</td>
            </tr>
        }
        else
        {
            <thead>
                <tr class="danger">
                    <th>Recorded type</th>
                    <th>Measuremen unit</th>
                    <th>Description</th>
                    <th>Remove</th>
                </tr>
            </thead>

            foreach (var usage in Model)
            {
                <tr>
                    <td>@usage.RecordedType</td>
                    <td>@usage.MeasurementUnit</td>
                    <td>@usage.Description</td>

                    <td>
                        @using (Html.BeginForm(actionName: "RemoveUsage", controllerName: "Sensors", method: FormMethod.Get, routeValues: new { sensorId = @ViewBag.sensorId, usageId = usage.SensorUsageId }))
                        {
                            <button class="btn btn-primary">Remove</button>
                        }
                    </td>
                </tr>
            }
        }
    </table>
</div>